.app {
  display: flex;
  flex-direction: column;
  height: 100svh;
  margin: 0;
  background: var(--sc-bg-primary);
}

/* ====== BODY (below header) ====== */
.body {
  display: flex;
  flex: 1;
  overflow: hidden;
}
