<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="app-base" content="{{ url_prefix }}">
    <link rel="icon" type="image/svg+xml" href="{{ url_prefix }}/static/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_prefix }}/static/css/index.css" />
    <link rel="stylesheet" href="{{ url_prefix }}/static/css/contexts.css" />
    <link rel="stylesheet" href="{{ url_prefix }}/static/css/components.css" />
    <link rel="stylesheet" href="{{ url_prefix }}/static/css/admin.css" />
    <script type="module" src="{{ url_prefix }}/static/js/admin.js"></script>
  </head>
  <body style="margin:0">
    <div id="admin-root"></div>
  </body>
</html>
